body {
    font-size: 14px;
}

h1 {
    margin: 0px;
}

.container {
    display: relative;
    /* border: 1px solid black; */
    width: 900px;
}


.header {
    font-size: 0.6rem;
}

.content {
    font-size: 0.9rem;
}

.header, .content {
    margin: 0 30px;
    /* background-color: lightblue; */
}

.chart-content {
    display: inline-block;
    position: relative; 
    margin: 90px 10px;
    width: 100%;
}

.chart-content > canvas {
    margin: 20px 90px;
}


#department_population, #category_population {
    display: inline-block;
}   

#current_date {
    font-size: .7rem;
    /* background-color: lightgreen; */
    text-align: right;
    margin: 5px 10px;
}

.chart-content .left {
    width: 400px;
    display: inline-block;
}

.chart-content .right {
    width: 400px;
    display: inline-block;
}

canvas {
    margin-bottom: 50px;
}

.items {
    display: flex;
}


#generate_pdf {
    display: inline-block;
    font-size: 0.7rem;
    color: #fff;
    padding: .07rem .30rem !important;
    border: 1px solid #375191;
    border-radius: .25rem;
    background-color: #375191;
}

#generate_pdf:hover {
    background-color: #4e72cc;
    cursor: pointer;
}